<%- include('../partials/header') %>




<table id="inventory" class="highlight centered responsive-table">
<thead>
  <tr>
    <th><h3>Natl Stock Num (NSN)</h3></th>
    <th><h3>Description</h3></th>
    <th><h3>Qty in Stock</h3></th>
    <th><h3>Part Details</h3></th>
  </tr>
  <tbody>
    <% parts.forEach(p => { %>
      <tr>
        <td><%= p.partNumber  %></td>
        <td><%= p.description  %></td>
        <td><%= p.quantity  %></td>
        <td><a class="waves-effect waves-light btn green z-depth-4" href="/parts/<%= p._id %>">Details</a></td>
      </tr>
      
      <% }) %>
    <tr>

    </tr>
  </tbody>
</thead>



</table>

<%- include('../partials/footer') %>