<%- include('../partials/header') %>


<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Sapient WMS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down"> 
        <li><a href="/parts/new">Receive Part</a></li>
        <li><a href="/">Complete Inventory</a></li>   
        <li>
            <% if (user) { %>
            <a href="/logout">Log Out</a>
            <% } else { %>
            <a href="/auth/google"></i>Login with Google</a>
            <% } %>
        </li>
      </ul>
    </div>
  </nav>

<table id="inventory">

<thead>
  <tr>
    <th><h4>Part Number</h2></th>
    <th><h4>Quantity</h2></th>
    <th><h4>Description</h2></th>
    <th><h4>Invoice Number</h2></th>
  </tr>
  <tbody>
    <% parts.forEach(p => { %>
      <tr>
        <td><%= p.partNumber  %></td>
        <td><%= p.quantity  %></td>
        <td><%= p.description  %></td>
        <td><%= p.invoices  %></td>
      </tr>
      
      <% }) %>
    <tr>

    </tr>
  </tbody>
</thead>



</table>

<%- include('../partials/footer') %>