<%- include('../partials/header') %>




<table id="inventory" class="highlight centered responsive-table">
<thead>
  <tr>
    <th><h2>NSN</h2></th>
    <th><h2>Description</h2></th>
    <th><h2>Qty in Stock</h2></th>
    <th><h2>Part Details</h2></th>
  </tr>
  <tbody>
    <% parts.forEach(p => { %>
      <tr>
        <td><%= p.partNumber  %></td>
        <td><%= p.description  %></td>
        <td><%= p.quantity  %></td>
        <td><a href="/parts/<%= p._id %>">Details</a></td>
      </tr>
      
      <% }) %>
    <tr>

    </tr>
  </tbody>
</thead>



</table>

<%- include('../partials/footer') %>