<%- include('../partials/header') %>

<div id="show-page" class="container">
  <div class="row">
    <div class="col s4"><h5>Part Number:</h5></div>
    <div class="col s4"><h5>Description:</h5></div>
    <div class="col s4"><h5>Qty in Stock</h5></div>
  </div>
  <div class="row">
    <div class="col s4"><strong><%= part.partNumber %></strong></div>
    <div class="col s4"><%= part.description %></div>
    <div class="col s4"><%= part.quantity %></div>
  </div>
</div><br><br>

<table class="highlight centered responsive-table">
  <thead>
   <tr>
      <th>Invoice Number</th>
      <th>Qty Received</th>
      <th>Date Received</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    <% invoices.map(i => { %>
    <tr>
      <td><%= i.invoiceNumber %></td>
      <td><%= i.invoiceQuantity %></td>
      <td><%= i.dateReceived %></td>
      <td>
        <form action="/invoices/<%= i._id %>?_method=DELETE" method="POST">
          <button class="waves-effect waves-light btn red" type="submit">delete</button>
        </form>
      </td>
      <% }) %>
    </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>